{% load static %}

{% if contact.gender == 'male' %}
    <!-- Card for details -->
    <div class="card my-2 mx-2 boy-card {% if 'detail' in request.path %}w-25 mx-auto{% endif %} ">
        
        {% if contact.image %}
            <img src="{{contact.image.url}}" class="img-fluid" />
        {% else %}
            <img src="{% static 'contacts/images/boy.png' %}" class="img-fluid" />
        {% endif %}
            
        <div class="card-header">
        <a href="{% url 'detail' contact.id %}" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i>{{ contact.name }}</a
        >
        </div>
        <div class="card-body pb-0">
        <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </p>
        <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:{{contact.phone}}">{{contact.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i>{{contact.info}}</p>
        </div>
    </div>
{% else %}

    <div class="card my-2 mx-2 girl-card {% if 'detail' in request.path %}w-25 mx-auto{% endif %}">
        {% if contact.image %}
            <img src="{{contact.image.url}}" class="img-fluid" />
        {% else %}
            <img src="{% static 'contacts/images/girl.png' %}" class="img-fluid" />
        {% endif %}
        <div class="card-header">
        <a href="{% url 'detail' contact.id %}" class="text-white header-link"
            ><i class="fas fa-venus mr-2"></i> {{contact.name}}</a
        >
        </div>
        <div class="card-body pb-0">
        <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </p>
        <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:{{contact.phone}}">{{contact.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i> {{contact.info}}</p>
        </div>
    </div>
{% endif %}
    