{% load static %}
<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
/>
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'contacts/css/main.css' %}" />

<!-- Fonts & Icons -->
<link
  href="https://fonts.googleapis.com/css?family=Lato"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
/>
<link rel="icon" href="{% static 'contacts/images/contact-icon.png' %}">
