<nav>
  <a class="logo" href="{% url 'home' %}">
  <i class="fa fa-address-book text-warning" aria-hidden="true"></i>&nbsp;Contacts
  </a>
  
  <p class="feature-link m-0 p-0">
  
  {% if user.is_authenticated %}
     <a href="{% url 'logout' %}" class="mr-4 text-white"><i class="fa fa-sign-in-alt"></i>&nbsp; Logout</a>
     <a href="{% url 'create' %}" class="mr-4 text-white"><i class="fa fa-plus"></i>&nbsp; Add Contact</a>
  {% else %}
   <a href="{% url 'signup' %}" class="mr-4 text-white"><i class="fa fa-user-plus"></i>&nbsp; Sign up</a>
   <a href="{% url 'login' %}" class="mr-4 text-white"><i class="fa fa-sign-in-alt"></i>&nbsp; Login</a>
  {% endif %}

  </p>
  <form class="form-inline my-2" action="{% url 'search' %}" method="GET">
    <input
      class="form-control search-box"
      type="search",
      name="q",
      placeholder="Find contacts..."
    />
  </form>
</nav>