{% extends 'base.html' %}
{% block maincontent %}
  <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light text-muted my-2">Here are your contacts</h3>
      <hr />
    </div>

    <div class="container main-part">
    {% if contacts %}
        {% for contact in contacts %}
            {% include 'partials/_card.html' with contact=contact %}
        {% endfor %}
    {% else %}
        <p class="d-block font-weight-light my-2">You have not created any contacts yet!</p>
    {% endif %}
    </div>
    <!-- Main Section ends-->
    
{% endblock maincontent %}